.App {
  text-align: center;
}
.bor {
  width: 600px;
  margin-top: 20px;
  box-shadow: 25px 27px 21px -9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 25px 27px 21px -9px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 25px 27px 21px -9px rgba(0, 0, 0, 0.5);
}

.fw-bold {
  cursor: pointer;
  margin-left: 5px;
  color: red;
}
